name: p02 Scala Play testing

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Move folder p02
      run: |
        cd $GITHUB_WORKSPACE
        cd ./p02-rest-api

    - name: Check sbt
      run: | 
        sbt --version

    - name: Run tests
      run: sbt coverage test

    - name: Coverage Report
      run: sbt coverageReport

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: p02
      run: |
        cd $GITHUB_WORKSPACE
        cd ./p02-rest-api

    - name: Formatting
      run: sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck